<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- ##1 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body style="background-color:#D9D9D9">


	<div layout:fragment="content">

		<div class="container d-flex flex-column justify-content-center align-items-center">

			<div class="container bg-secondary rounded-top-5" style="max-width: 1000px; height: 20px;"></div>
			
			<div class="container bg-secondary d-flex" style="max-width: 1000px; height: 300px;">
				<div class="container bg-secondary d-flex align-items-center" style="max-width: 30%; max-height: 100%;">
				
				  <section class="bg-white rounded-circle d-flex justify-content-center align-items-center position-relative" style="width: 100%; height: 90%;">
				    
				    <!-- 아바타 이미지-->
				    <img src="/40db/images/member_avatar.png" alt="아바타" class="position-absolute" style="z-index: 1; max-width: 90%; max-height: 80%; cursor: pointer;">
				    
				    <div class="d-none" style="z-index: 2; position: relative; color: gray;">아바타 바꾸기</div>
				
				  </section>
				</div>
				
				<!-- 사용자 별명(displayName) -->
				<div class="container bg-secondary text-white d-flex flex-column" style="max-width: 60%; max-height: 100%;">
						  <h1 class="row align-items-end text-white displayName2" id="displayName2" style="font-size: 55px; height: 50%"></h1>
						  <span class="badge bg-dark col-5 memberId2" style="font-size: 15px" sec:authorize="isAuthenticated()"  sec:authentication="principal.username" id="memberId2"></span>
				 <!--  <div class="d-flex container bg-secondary text-dark d-flex align-items-center" style="height: 40%;">
				  	<span class="badge bg-success col-2" style="height: 20%">dd</span>
				  	<span class="badge bg-success col-2" style="height: 20%">dd</span>
				  	<span class="badge bg-success col-2" style="height: 20%">dd</span>
				  </div> -->
				</div>
			
			</div>
			
			<div class="container bg-secondary" style="max-width: 1000px; height: 10px;"></div>
			<div class="container bg-secondary rounded-bottom-3" style="max-width: 1000px; height: 800px;">
			  <div class="d-flex container bg-light rounded-bottom-3 rounded-top-3 justify-content-end" style="max-width: 100%; height: 99%;">
				
				<!-- 메인 -->
				<!-- 메인 -->
				<div class="bg-white p-4 shadow-lg rounded-3 me-auto" style="width: 74%;">
					
					
					<form method="post" th:action="@{/member/mypage/deleteAccount}">
					
						<input type="text" name="memberId2" id="memberId2" class="form-control memberId2" th:value="${#authentication.name}" readonly>
					
						<span>회원 탈퇴</span>
						
						<input type="password" name="memberPass" id="memberPass" class="form-control" placeholder="비밀번호 입력">
						
						<input type="text" name="realName" id="realName" class="form-control" placeholder="실명 입력">
						
						
						<div class="form-check">
						  <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
						  <label class="form-check-label">회원 탈퇴에 동의합니다</label>
						</div>
						
						<input type="submit" class="btn btn-outline-danger" value="탈퇴한다">
					
					</form>
				</div>
				
				<!-- 내비게이터 -->
				<div class="d-flex flex-column align-items-end bg-light" style="height: 100%; width: 25%; gap:20px">
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm mt-3" style="width: 100%"><a th:href="@{/member/mypage/main}" style="text-decoration: none; color:black;">도서대출현황</a></div>
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/upass}" style="text-decoration: none; color:black;">비밀번호변경</a></div>
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/uemail}" style="text-decoration: none; color:black;">이메일변경</a></div>
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/uaddress}" style="text-decoration: none; color:black;">주소지변경</a></div>
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/umobile}" style="text-decoration: none; color:black;">휴대전화번호변경</a></div>
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/udname}" style="text-decoration: none; color:black;">별명변경</a></div>
				    <!-- 회원탈퇴 버튼을 아래로 고정 -->
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm mb-3" style="width: 100%; margin-top: auto;"><a th:href="@{/member/mypage/deleteAccount}" style="text-decoration: none; color: #f44949;">회원탈퇴</a></div>
				</div>
			  
			  </div>
			</div>
		</div>
	<!-- jQuery library -->
  	<script>
  	// memberId값으로 displayName 값 가져오기
  	 $(document).ready(function() {
         var memberId2 = $("#memberId2").text().trim();

         $.ajax({
             url: "/40db/getDisplayNameByMemberId",
             method: "GET",
             data: { memberId: memberId2 },
             success: function(displayName) {
                 $('#displayName2').text(displayName);
             },
             error: function() {
                 console.log("displayName을 가져오는 데 실패했습니다.");
             }
         });
     });
  	
  	$()
</script>
	</div>
</body>
</html>