<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- ##1 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body style="background-color:#D9D9D9">
	<div layout:fragment="content">

		<div class="container d-flex flex-column justify-content-center align-items-center">

			<div class="container bg-secondary rounded-top-5" style="max-width: 1000px; height: 20px;"></div>
			
			<div class="container bg-secondary d-flex" style="max-width: 1000px; height: 300px;">
				<div class="container bg-secondary d-flex align-items-center" style="max-width: 30%; max-height: 100%;">
				  <section class="bg-white rounded-circle d-flex justify-content-center align-items-center position-relative" style="width: 100%; height: 90%;">
				    
				    <!-- 아바타 이미지-->
				    <img src="/40db/images/member_avatar.png" alt="아바타" class="position-absolute" style="z-index: 1; max-width: 90%; max-height: 80%;">
				    	
				    <div class="d-none" style="z-index: 2; position: relative; color: gray;">아바타 바꾸기</div>
				
				  </section>
				</div>
				
				<!-- 사용자 별명(displayName) -->
				<div class="container bg-secondary text-white d-flex flex-column" style="max-width: 60%; max-height: 100%;">
						  <h1 class="row align-items-end text-white displayName2" id="displayName2" style="font-size: 55px; height: 50%"></h1>
						  <span class="badge bg-dark col-6 memberId2" style="font-size: 15px" sec:authorize="isAuthenticated()"  sec:authentication="principal.username" id="memberId2"></span>
				 <!--  <div class="d-flex container bg-secondary text-dark d-flex align-items-center" style="height: 40%;">
				  	<span class="badge bg-success col-2" style="height: 20%">dd</span>
				  	<span class="badge bg-success col-2" style="height: 20%">dd</span>
				  	<span class="badge bg-success col-2" style="height: 20%">dd</span>
				  </div> -->
				</div>
			
			</div>
			
			<div class="container bg-secondary" style="max-width: 1000px; height: 10px;"></div>
			<div class="container bg-secondary rounded-bottom-3" style="max-width: 1000px; height: 800px;">
			  <div class="d-flex container bg-light rounded-bottom-3 rounded-top-3 justify-content-end" style="max-width: 100%; height: 99%;">



					<!-- 메인 -->
				<div class="bg-white shadow-lg rounded-3 me-auto" style="width: 74%; padding: 50px 32px; font-size: 1.1rem;">
				    <h1 class="mb-4 text-primary">
				        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
				            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
				        </svg> 주소 변경
				    </h1>
				
				    <form method="post" th:action="@{/member/mypage/uaddress}" style="display: flex; flex-direction: column; align-items: center; gap: 28px; padding-top: 4rem;">
						<input type="text" name="memberId" id="memberId" class="form-control d-none" th:value="${#authentication.name}" readonly>				
				        <div class="w-75 d-flex gap-3">
				        
				            <div class="form-floating flex-grow-1">
				                <input type="text" name="addressPost" id="addressPost" class="form-control" placeholder="우편번호" readonly>
				                <label for="addressPost">우편번호</label>
				            </div>
				            <button type="button" class="btn btn-outline-primary btn-lg" onclick="addressFinder()" style="min-width: 120px;">검색</button>
				        </div>
				
				        <div class="w-75 d-flex gap-4">
				            <div class="form-floating w-100">
				            
				                <input type="text" name="addressRoad" id="addressRoad" class="form-control" placeholder="도로명 주소" readonly>
				                <label for="addressRoad">도로명 주소</label>
				            </div>
				        </div>
				        <div class="w-75 d-flex gap-4">
				            <div class="form-floating w-100">
				                <input type="text" name="addressJibun" id="addressJibun" class="form-control" placeholder="지번 주소" readonly>
				                <label for="addressJibun">지번 주소</label>
				            </div>
				        </div>
				
				        <div class="w-75 d-flex gap-4">
				            <div class="form-floating w-50">
				                <input type="text" name="addressDetail" id="addressDetail" class="form-control" placeholder="상세주소">
				                <label for="addressDetail">상세 주소</label>
				                 <small id="addressGuide" class="form-text text-muted">상세 주소를 입력해주세요.</small>
				            </div>
				            <div class="form-floating w-50">
				                <input type="text" name="addressExtra" id="addressExtra" class="form-control" placeholder="참조주소" readonly>
				                <label for="addressExtra">참조 주소</label>
				            </div>
				        </div>
				
				        <div class="d-flex justify-content-center w-75 mt-4 gap-4">
				            <button type="button" class="btn btn-outline-secondary btn-lg" onclick="window.location.reload();">새로고침</button>
				            <input type="submit" class="btn btn-primary btn-lg px-5" value="변경하기">
				        </div>
				    </form>
				</div>
				
				<!-- 내비게이터 -->
				<div class="d-flex flex-column align-items-end bg-light" style="height: 100%; width: 25%; gap:20px">
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm mt-3" style="width: 100%"><a th:href="@{/member/mypage/main}" style="text-decoration: none; color:black;">도서대출현황</a></div>
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/upass}" style="text-decoration: none; color:black;">비밀번호변경</a></div>
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/uemail}" style="text-decoration: none; color:black;">이메일변경</a></div>
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/uaddress}" style="text-decoration: none; color:black;">주소지변경</a></div>
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/umobile}" style="text-decoration: none; color:black;">휴대전화번호변경</a></div>
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/udname}" style="text-decoration: none; color:black;">별명변경</a></div>
				    <div class="btn btn-outline-light bg-white text-dark shadow-sm mb-3" style="width: 100%; margin-top: auto;"><a th:href="@{/member/mypage/deleteAccount}" style="text-decoration: none; color: #f44949;">회원탈퇴</a></div>
				</div>
			  
			  </div>
			</div>

		</div>
				
				<script th:if="${success}" th:inline="javascript"> alert([[${success}]]);</script>
 				<script th:if="${fail}" th:inline="javascript"> alert([[${fail}]]);</script>
					
					<!-- 페이지 로딩 시 사용자의 주소 정보 가져오기 -->
					<script>
				    $(document).ready(function() {
				        var memberId = $("#memberId").text().trim();
						// 우편번호
				        $.ajax({
				            url: "/40db/getAddressPostByMemberId",
				            method: "GET",
				            data: { memberId: memberId },
				            success: function(addressPost) {
				                $("#addressPost").val(addressPost);
				            },
				            error: function() {
				                console.log("주소지 가져오기 실패");
				            }
				        });
						// 도로명
				        $.ajax({
				            url: "/40db/getAddressRoadByMemberId",
				            method: "GET",
				            data: { memberId: memberId },
				            success: function(addressRoad) {
				                $("#addressRoad").val(addressRoad);
				            },
				            error: function() {
				                console.log("주소지 가져오기 실패");
				            }
				        });
						// 지번
				        $.ajax({
				            url: "/40db/getAddressJibunByMemberId",
				            method: "GET",
				            data: { memberId: memberId },
				            success: function(addressJibun) {
				                $("#addressJibun").val(addressJibun);
				            },
				            error: function() {
				                console.log("주소지 가져오기 실패");
				            }
				        });
						// 상세주소
				        $.ajax({
				            url: "/40db/getAddressDetailByMemberId",
				            method: "GET",
				            data: { memberId: memberId },
				            success: function(addressDetail) {
				                $("#addressDetail").val(addressDetail);
				            },
				            error: function() {
				                console.log("주소지 가져오기 실패");
				            }
				        });
				    });
				</script>

					<!-- 검색 버튼으로 주소 찾기 -->
					<script>
						function addressFinder() {
							new daum.Postcode(
									{
										oncomplete : function(data) {
											// 도로명 주소 변수
											var roadAddr = data.roadAddress;
											// 참고 항목 변수
											var extraRoadAddr = '';

											// 법정동명이 있을 경우 추가
											if (data.bname !== ''
													&& /[동|로|가]$/g
															.test(data.bname)) {
												extraRoadAddr += data.bname;
											}

											// 건물명이 있고, 공동주택일 경우 추가
											if (data.buildingName !== ''
													&& data.apartment === 'Y') {
												extraRoadAddr += (extraRoadAddr !== '' ? ', '
														+ data.buildingName
														: data.buildingName);
											}

											// 표시할 참고항목이 있을 경우, 괄호까지 추가
											if (extraRoadAddr !== '') {
												extraRoadAddr = ' ('
														+ extraRoadAddr + ')';
											}

											// 우편번호와 주소 정보를 해당 필드에 넣는다.
											document
													.getElementById('addressPost').value = data.zonecode; // 우편번호
											document
													.getElementById('addressRoad').value = roadAddr; // 도로명 주소
											document
													.getElementById('addressJibun').value = data.jibunAddress; // 지번 주소
											document
													.getElementById('addressDetail').value = "";

											// 참고항목이 있을 경우 해당 필드에 넣는다.
											if (roadAddr !== '') {
												document
														.getElementById('addressExtra').value = extraRoadAddr;
											} else {
												document
														.getElementById('addressExtra').value = '';
											}

											// 상세주소 입력 안내
											var guideTextBox = document
													.getElementById("addressGuide");

											if (data.autoRoadAddress) {
												var expRoadAddr = data.autoRoadAddress
														+ extraRoadAddr;
												guideTextBox.innerText = '(예상 도로명 주소 : '
														+ expRoadAddr + ')';
												guideTextBox.style.display = 'block';
											} else if (data.autoJibunAddress) {
												var expJibunAddr = data.autoJibunAddress;
												guideTextBox.innerText = '(예상 지번 주소 : '
														+ expJibunAddr + ')';
												guideTextBox.style.display = 'block';
											} else {
												guideTextBox.innerText = '';
												guideTextBox.style.display = 'none';
											}
										}
									}).open();
						}
					</script>
					<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
				
		<script>
  	// memberId값으로 displayName 값 가져오기
  	 $(document).ready(function() {
         var memberId2 = $("#memberId2").text().trim();

         $.ajax({
             url: "/40db/getDisplayNameByMemberId",
             method: "GET",
             data: { memberId: memberId2 },
             success: function(displayName) {
                 $('#displayName2').text(displayName);
             },
             error: function() {
                 console.log("displayName을 가져오는 데 실패했습니다.");
             }
         });
     });
	</script>


	</div>
</body>
</html>