<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<title>추천도서</title>
 <style>
    .scroll-on-hover {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 400px;
      vertical-align: middle;
    }
    
  </style>
</head>
<body>
	<div layout:fragment="content" class="container pt-5">
	
	
		<h1 class="mb-4">오늘의 추천 도서</h1>
		<div th:if="${not #lists.isEmpty(recommandations)}">
			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div th:each="book : ${recommandations}" class="col">
				
					<div class="card d-flex book-card" style="height: 250px;">
					
						<div class="row">
							<!-- 책 이미지 영역 -->
							<div class="d-flex justify-content-center align-items-center" style="height:250px; width: 30%; background-color: #e8e8e8">
								<img th:src="${book.cover}" class=" rounded-start book-cover-img border border-dark" alt="책 표지" style="height: 180px;">
							</div>
							
							<div class="col-md-8 pt-4">
								<div class="container" style="height: 30%" >
									<a th:href="${book.link}" style="text-decoration:none; color: black;"><h4 th:text="${book.title}" class="fw-bold scroll-on-hover">책 제목</h4></a>
								</div>
								<div class="ps-3">
									<p class=""> <strong>저자:</strong> <span th:text="${book.author}">저자</span> </p>
									<p class=""> <strong>출판사:</strong> <span th:text="${book.publisher}">출판사</span> </p>
									<p class=""> <strong>출판일:</strong> <span th:text="${book.pubDate}">출판일</span></p>
									
									<!-- <p class="card-text text-muted"> <small th:text="${book.description}">책 소개 요약...</small> </p> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		<div th:if="${#lists.isEmpty(recommandations)}">
			<p class="text-center text-muted mt-5">추천 도서 정보를 불러오지 못했거나, 추천
				도서가 없습니다.</p>
		</div>
	</div>
	

</body>
</html>